In [4]:
x=10
y=15

z=x if x<y else y
print(x)

10

In [8]:
ORD("A")

NameError: name 'ORD' is not defined

In [13]:
x=[1,2,3,4,5]
i=-1
while ((i:=i+1)<len(x)):
    print(x[i])

1
2
3
4
5

In [24]:
str1="sky is blue"
mylist=str1.split()

mylist=mylist[::-1]

str2=" ".join(mylist)
print(str2)

blue is sky

In [26]:
str1=" ".join("sky is blue".split()[::-1])

str1

'blue is sky'

#find single occurence of elements

In [72]:
lst=[1,2,2,2,3,3,4,4,5,6,6,7,7,8,8,9,9,10,10]
lst2=[]
for num in lst:
    if lst.count(num)==1:
        lst2.append(num)
print(lst2)

[1, 5]

In [31]:
# list comprehension    
# [expression for variable in iterable *** if condition]


lst3=[num for num in lst if lst.count(num)==1]
lst3

[4, 5]

In [37]:
lst4=[2,3,4,5,6,9]
[num*num for num in lst4]

[4, 9, 16, 25, 36, 81]

In [36]:
[num for num in lst4 if num%2==0]

[2, 4]

In [38]:
[num*num for num in lst4 if num%2==0 if num%3==0]

[36]

In [40]:
## if else list comprehension
## [expression if condition else expression for variable in iterable]

[num*num if num%2==0 else num*num*num for num in lst4]

[4, 27, 16, 125, 36, 729]

In [46]:
print([i for i in range(1,3)])
print([j for j in range(4,6)])

[1, 2]
[4, 5]

In [41]:
[i*j for i in range(1,3) for j in range(4,6)]

[4, 5, 8, 10]

In [74]:
mystr="a,a,a,b,b,c,c,c,c,d,d,d,d,d"

mylist=mystr.split(",")
visited=[]

for i in mylist:
    if i not in visited:
        visited.append(i)
        print(i,mylist.count(i))

a 3
b 2
c 4
d 5

In [48]:
## finding minimum and maximum in a list
lst=[15,2,3,74,5,6,97,8,9,10]

min=lst[0]
max=lst[0]
for i in lst:
    if i<min:
        min=i
    if i>max:
        max=i

print(min,max)

2 97

In [50]:
lst6=[15,2,3,74,5,6,97,8,9,10]
lst7=[125,233,453,754,5,6,97,8,9,10]

lst6.extend(lst7)
lst6

[15, 2, 3, 74, 5, 6, 97, 8, 9, 10, 125, 233, 453, 754, 5, 6, 97, 8, 9, 10]

In [76]:
str1="sky is blue blue sky sky sree sree sree"

mylist=str1.split()
for i in mylist:
    print(i,mylist.count(i))

sky 3
is 1
blue 2
blue 2
sky 3
sky 3
sree 3
sree 3
sree 3

In [77]:
x=[i for i in mylist if mylist.count(i)>=2]
print(set(x))

{'sree', 'sky', 'blue'}

In [2]:
### password checker

def password_checker(password):
    if len(password)<8:
        return "password should be atleast 8 characters"
    elif not any(i.isdigit() for i in password):
        return "password should have atleast one digit"
    elif not any(i.isupper() for i in password):
        return "password should have atleast one uppercase letter"
    elif not any(i.islower() for i in password):
        return "password should have atleast one lowercase letter"
    else:
        return "password is good"
    
password_checker("Sree1234")

'password is good'

In [3]:
## total price in the cart
cart=[{"item":"apple","price":10,"quantity":2},
      {"item":"banana","price":5,"quantity":3},
      {"item":"orange","price":15,"quantity":1}]


total=0

for i in cart:
    total+=i["price"]*i["quantity"]
print(total)

50

In [31]:
# collection[start:stop:step] is [::]

s="srikanta"


s[0::2]

'siat'

In [32]:
##paliandrome


def is_paliandrome(s):
    return s==s[::-1]

is_paliandrome("madam")

True

In [33]:
##reverse a string

s="srikanta"
s[::-1]

'atnakirs'

In [39]:
##reverse a string without slicing

s="srikanta"
str1=""
for i in s:
    str1=i+str1
    
print(str1)

atnakirs

In [34]:
##reverse a string without using slicing

def reverse_string(s):
    str1=""
    for i in s:
        str1=i+str1
    return str1 

reverse_string("srikanta")

'atnakirs'

In [42]:

def count(num):
    print(num)
    if num==0:
        return 0
    else:
        count(num-1) 

count(5)

5
4
3
2
1
0

In [45]:
## factorial of a number

def factorial(num):
    fact=1;
    if num==0:
        return fact
    else:
        return num*factorial(num-1)
    

factorial(5)

120

In [49]:
addition=lambda x,y : x+y
addition(2,3)

5

In [48]:
### lambda function
addition=lambda *args : sum(args)

addition(2,3,5)

10

In [53]:
numbers=[1,2,3,4,5,6,7,8,9,10]

x=list(map(lambda x:x*x,numbers))

x

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
numbers1=[1,2,3,4,5,6,7,8,9,10]
numbers2=[10,9,8,7,6,5,4,3,2,1]

x=list(map(lambda x,y:x+y,numbers1,numbers2))
x

[11, 11, 11, 11, 11, 11, 11, 11, 11, 11]

In [56]:
#convert list of integers to string

numbers=[1,2,3,4,5,6,7,8,9,10]

x=list(map(str,numbers))
x

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [58]:



def get_name(person):
    return person["name"]

people=[{"name":"sree","age":30},
        {"name":"kanta","age":40},
        {"name":"sri","age":50}]

x=list(map(get_name,people))
x

['sree', 'kanta', 'sri']