In [3]:
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
import pandas as pd

In [9]:
df=pd.read_csv("employees.csv")

In [10]:
df.head(5)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-Jun-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-Jan-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-Sep-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-Feb-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-Aug-05,MK_REP,6000,-,201,20

In [12]:
from langchain_openai import OpenAI
llm=OpenAI()

In [14]:
# Create a Pandas DataFrame agent.
agent=create_pandas_dataframe_agent(llm,df,verbose=True)

In [15]:
response=agent.invoke("what is the shape of the data")
response

> Entering new AgentExecutor chain...
Thought: I should use the shape attribute of the dataframe to see the number of rows and columns
Action: python_repl_ast
Action Input: df.shape(50, 11)50 rows and 11 columns means the dataframe has 50 records and 11 columns
Final Answer: The shape of the data is (50, 11).

> Finished chain.

{'input': 'what is the shape of the data',
 'output': 'The shape of the data is (50, 11).'}

In [17]:
response=agent.invoke("how many type of job ids are there")
response

> Entering new AgentExecutor chain...
Thought: I need to find out how many unique values are in the JOB_ID column
Action: python_repl_ast
Action Input: len(df['JOB_ID'].unique())1717 unique job ids means there are 17 types of job ids
Final Answer: There are 17 types of job ids in the dataframe.

> Finished chain.

{'input': 'how many type of job ids are there',
 'output': 'There are 17 types of job ids in the dataframe.'}

In [18]:
df.JOB_ID.unique()

array(['SH_CLERK', 'AD_ASST', 'MK_MAN', 'MK_REP', 'HR_REP', 'PR_REP',
       'AC_MGR', 'AC_ACCOUNT', 'AD_PRES', 'AD_VP', 'IT_PROG', 'FI_MGR',
       'FI_ACCOUNT', 'PU_MAN', 'PU_CLERK', 'ST_MAN', 'ST_CLERK'],
      dtype=object)